affine @ file:///home/conda/feedstock_root/build_artifacts/affine_1648309059244/work
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
backcall==0.2.0
beautifulsoup4==4.11.1
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1648499330704/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1649361991009/work
bokeh @ file:///D:/bld/bokeh_1637615549616/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1609346930842/work
brotlipy @ file:///D:/bld/brotlipy_1648854327487/work
Cartopy @ file:///D:/bld/cartopy_1646828403267/work
certifi==2021.10.8
cffi @ file:///D:/bld/cffi_1636046278333/work
cfgv @ file:///home/conda/feedstock_root/build_artifacts/cfgv_1629909281805/work
cftime @ file:///D:/bld/cftime_1646333182797/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1644853463426/work
click @ file:///D:/bld/click_1648793667630/work
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1633637764473/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1631273254894/work
codecov @ file:///home/conda/feedstock_root/build_artifacts/codecov_1608223488072/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
colorcet @ file:///home/conda/feedstock_root/build_artifacts/colorcet_1638280441091/work
coverage @ file:///D:/bld/coverage_1648737900766/work
cryptography @ file:///D:/bld/cryptography_1649035434655/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
Cython @ file:///D:/bld/cython_1648737966239/work
cytoolz==0.11.2
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1648827921498/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
datashader @ file:///home/conda/feedstock_root/build_artifacts/datashader_1623315462041/work
datashape==0.5.4
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1638990147493/work
distributed @ file:///home/conda/feedstock_root/build_artifacts/distributed_1648835875604/work
entrypoints==0.4
executing==0.8.3
exif==1.3.4
fastjsonschema==2.15.3
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1645136850180/work
Fiona==1.8.21
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1646781084538/work
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1638560701663/work
fonttools @ file:///D:/bld/fonttools_1649448636238/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1648820545323/work
GDAL==3.4.2
geographiclib @ file:///home/conda/feedstock_root/build_artifacts/geographiclib_1624386157733/work
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1638382567988/work
geopy @ file:///home/conda/feedstock_root/build_artifacts/geopy_1626114677070/work
geoviews @ file:///home/conda/feedstock_root/build_artifacts/geoviews-core_1646773856131/work
haversine==2.7.0
HeapDict==1.0.1
holoviews @ file:///home/conda/feedstock_root/build_artifacts/holoviews_1645018991041/work
hvplot @ file:///home/conda/feedstock_root/build_artifacts/hvplot_1627048757529/work
identify @ file:///home/conda/feedstock_root/build_artifacts/identify_1647477413921/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1648728550588/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
ipykernel==6.12.1
ipython==8.2.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1648299710939/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.2.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyterlab-pygments==0.2.0
jupyterlab-widgets==1.1.0
kiwisolver @ file:///D:/bld/kiwisolver_1648854553193/work
llvmlite==0.36.0
locket==0.2.0
lz4 @ file:///D:/bld/lz4_1649094689382/work
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1627363180059/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1637220118004/work
MarkupSafe @ file:///D:/bld/markupsafe_1648737757460/work
matplotlib @ file:///D:/bld/matplotlib-suite_1639359208125/work
matplotlib-inline==0.1.3
mccabe==0.6.1
memory-profiler==0.60.0
meteostat==1.6.2
mistune==0.8.4
msgpack @ file:///D:/bld/msgpack-python_1648746179953/work
multipledispatch==0.6.0
munch==2.5.0
munkres==1.1.4
mypy-extensions @ file:///D:/bld/mypy_extensions_1649013558628/work
nbclient==0.5.13
nbconvert==6.4.5
nbformat==5.3.0
nest-asyncio==1.5.5
netCDF4 @ file:///D:/bld/netcdf4_1636303787759/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1649567584534/work
nodeenv @ file:///home/conda/feedstock_root/build_artifacts/nodeenv_1617967501629/work
notebook==6.4.10
numba @ file:///D:/bld/numba_1615723367209/work
numpy @ file:///D:/bld/numpy_1649572832358/work
ordered-set @ file:///home/conda/feedstock_root/build_artifacts/ordered-set_1643221357603/work
Owlready2==0.38
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas @ file:///D:/bld/pandas_1649588095250/work
pandocfilters==1.5.0
panel @ file:///home/conda/feedstock_root/build_artifacts/panel_1648632104346/work
param @ file:///home/conda/feedstock_root/build_artifacts/param_1648753599418/work
parso==0.8.3
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1617910651905/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1626613672358/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1632667180946/work
pickleshare==0.7.5
Pillow @ file:///D:/bld/pillow_1648857353114/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1645298319244/work
pluggy @ file:///D:/bld/pluggy_1648772781226/work
plum-py==0.7.9
pre-commit @ file:///D:/bld/pre-commit_1649426566808/work
prometheus-client==0.14.1
prompt-toolkit==3.0.29
psutil @ file:///D:/bld/psutil_1648873144419/work
pure-eval==0.2.2
py @ file:///home/conda/feedstock_root/build_artifacts/py_1636301881863/work
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1633982426610/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyct==0.4.6
pyflakes @ file:///home/conda/feedstock_root/build_artifacts/pyflakes_1633634815271/work
Pygments==2.11.2
pymap3d @ file:///home/conda/feedstock_root/build_artifacts/pymap3d_1648705073273/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1649603503565/work
pyproj @ file:///D:/bld/pyproj_1646811504088/work
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent==0.18.1
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1644593068012/work
PySocks @ file:///D:/bld/pysocks_1648857426942/work
pytest==7.1.1
pytest-cov @ file:///home/conda/feedstock_root/build_artifacts/pytest-cov_1633356845954/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1647961439546/work
pyviz-comms @ file:///home/conda/feedstock_root/build_artifacts/pyviz_comms_1648629824948/work
pywin32==303
pywinpty==2.0.5
PyYAML @ file:///D:/bld/pyyaml_1648757346451/work
pyzmq==22.3.0
qtconsole==5.3.0
QtPy==2.0.1
rasterio==1.2.10
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1641580202195/work
Rtree @ file:///D:/bld/rtree_1649367810340/work
ruamel.yaml @ file:///D:/bld/ruamel.yaml_1649033355313/work
ruamel.yaml.clib @ file:///D:/bld/ruamel.yaml.clib_1649013256021/work
scikit-learn @ file:///D:/bld/scikit-learn_1640464393983/work
scipy @ file:///C:/bld/scipy_1644357595180/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1629095986539/work
Send2Trash==1.8.0
session-info==1.0.0
Shapely==1.8.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
snuggs==1.4.7
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve==2.3.2
stack-data==0.2.0
statsmodels @ file:///D:/bld/statsmodels_1644535868573/work
stdlib-list==0.8.0
stonesoup @ file:///home/conda/feedstock_root/build_artifacts/stonesoup_1641828131417/work
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1616261298899/work
terminado==0.13.3
testpath==0.6.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1636177962100/work
tornado @ file:///D:/bld/tornado_1648827405403/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1649051611147/work
traitlets==5.1.1
typed-ast @ file:///D:/bld/typed-ast_1643046108295/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1644850595256/work
ukkonen @ file:///D:/bld/ukkonen_1649407175315/work
unicodedata2 @ file:///D:/bld/unicodedata2_1649112114189/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1647489083693/work
utm @ file:///home/conda/feedstock_root/build_artifacts/utm_1621882749246/work
virtualenv @ file:///D:/bld/virtualenv_1648740656513/work
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.6.0
win-inet-pton @ file:///D:/bld/win_inet_pton_1648771910527/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1646254587173/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1646849493349/work
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1645832288898/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1649012893348/work
